# "\e\k":clear-screen'
# - The readline library can't differentiate between that ALT and ESC keys.
#   Workarrounds: 
#       We could rebind the alt key globally
#       We could log keypresses and redirect to a script that checks the log to see if we pressed alt
#       We could just use a terminal emulator with keybinding support (Alacritty)
#

# If there are multiple matches for completion, Tab should cycle through them
TAB:menu-complete

# And Shift-Tab should cycle backwards
"\e[Z": menu-complete-backward

# Display a list of the matching files
set show-all-if-ambiguous on

# Perform partial (common) completion on the first Tab press, only start
# cycling full results on the second Tab press (from bash version 5)
set menu-complete-display-prefix on


# ***VIM MODE SETTINGS***
set editing-mode vi

$if mode=vi

set keymap vi-command

# unbind space
" ": ""

# beginning and end of line shortcuts
" a":beginning-of-line
" ;":end-of-line 


# these are for vi-insert mode
set keymap vi-insert

"\e[A": history-search-backward 
"\e[B": history-search-forward

# jump left or right by one word
"\C-h":shell-backward-word
"\C-l":shell-forward-word

$endif
