export EDITOR='vim'
export VISUAL='vim'

# ***VIM MODE SETTINGS***
set editing-mode vi

$if mode=vi

set keymap vi-command

# unbind space
" ": ""

# beginning and end of line shortcuts
" a":beginning-of-line
" ;":end-of-line 


# jump left or right by one word
"\C-h":shell-backward-word
"\C-l":shell-forward-word


# these are for vi-insert mode
set keymap vi-insert

"\e[A": history-search-backward 
"\e[B": history-search-forward

# jump left or right by one word
"\C-h":shell-backward-word
"\C-l":shell-forward-word

$endif
