# "\e\k":clear-screen'
# - The readline library can't differentiate between that ALT and ESC keys.
#   Workarrounds: 
#       We could rebind the alt key globally
#       We could log keypresses and redirect to a script that checks the log to see if we pressed alt
#       We could just use a terminal emulator with keybinding support (Alacritty)
#

#################################
#
# Vi Mode Related
#
#################################

# ***VIM MODE SETTINGS***
set editing-mode vi

$if mode=vi

set keymap vi-command

# unbind space
" ": ""

# beginning and end of line shortcuts
" a":beginning-of-line
" ;":end-of-line 


# these are for vi-insert mode
set keymap vi-insert

"\e[A": history-search-backward 
"\e[B": history-search-forward

# jump left or right by one word
"\C-h":shell-backward-word
"\C-l":shell-forward-word

$endif
